.task
{
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: var(--task-bg);
    padding: .3em;
    transition: .2  s ease-out;
    margin-bottom: 1em;
    overflow: hidden;
}

.task > h4, .task > h6, .task > p
{
    color: black;
}

.task > h6
{
    font-weight: 500;
    font-size: smaller;
}

.task > p
{
    font-size: small;
    position: absolute;
    right: .3em;
    bottom: .3em;
    background-color: inherit;
}

.task:hover
{
    background-color: #eee;
}

.task:hover .edit,
.task:hover .delete,
.task:hover .see
{
    display: inline-block;
}

.edit, .delete, .see
{
    position: absolute;
    width: 15px;
    aspect-ratio: 1;
    display: none;
    cursor: pointer;
}

.edit
{
    right: 1.8em;
}

.delete
{
    right: .5em;
}

.see
{
    right: 3.3em;
}