
.top
{
    display: grid;
    place-items: center;
    padding: 1rem;
}

.top > h1 
{
    margin: 1.5rem 0;
    font-weight: 100;
}

.tasks
{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 