:root
{
  --green-btn: #22c55e;
  --green-btn-hover: #16a34a;
  --bg: #155e75;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
  color: #eee;
}

body
{
  background-color: var(--bg);
}
