:root
{
  --green-btn: #10b981;
  --green-btn-hover: #059669;
  --bg: #155e75;
  --task-list-bg: #64748b;
  --task-bg: #cbd5e1;
  --blue-btn: #0284c7;
  --blue-btn-hover: #075985;

}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
  color: #eee;
}

body
{
  background-color: var(--bg);
  height: 100%;
}
