.modal-overlay 
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content 
{
    position: relative;
    width: 70vw;
    min-height:70vh;
    background-color: #eee;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
.close-modal 
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

input, h4, select, option, textarea
{
    color: black;
    font-size: medium;
}

input, textarea
{
    width: 100%;
}

textarea
{
    resize: none;
    height: 25rem;
}

.cancel, .send
{
    position: absolute;
    margin: 0 1em;
    width: 10rem;
    border: none;
    transition: .3s;
    border-radius: 7px;
    cursor: pointer;
    font-size: large;
    padding: .5em;
    bottom: 10px;
}


.cancel
{
    background-color: white;
    border: 1px solid var(--blue-btn);
    color: #22d3ee;
    right: 11rem;
}

.cancel:hover
{
    color: var(--blue-btn-hover);
}

.send
{
    border: 1px solid var(--green-btn);
    background-color: var(--green-btn);
    right: 0;
    color: #eee;
}

.send:hover
{
    background-color: var(--green-btn-hover);
}